body {
	background-color: white;
/*	background-image: url("header.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100%;*/
}

@media screen and (min-width:480px) {

	body {
		background-color: lightgreen;
	}
}

p {  
	/*font-family: Helvetica;*/
	font-family: 'Pacifico', cursive;
/*	font-size: 20px;
	font-weight: normal;
	font-style:italic;
	color: #FA8072;*/
/*	padding-top: 50px;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-style: solid;
	border-color: red;*/

}

p:hover {
	color: blue;
}

h1 {

	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 50px;
	color: green;
	text-shadow: 2px 2px red;
}

a:link {
	text-decoration: none;
	color: blue;
}
a:hover {
	color: red;
}

table,tr,td {
	border: 1px solid black;
}

#rcorner {
	border-radius: 25px;
	padding: 20px;
	width: 200px;
	height: 150px;
	background: #73AD21;

}

table {
	width: 400px;

}

td {
	height: 50px;
	vertical-align: center;
	text-align: center;
}
.highlight {

	color:red;
	font-weight: bold;
}

.alert {

	color: cyan;
	font-size: 30px;
}

#highlight {
	color: green;
	font-weight: normal;
}