body {
    background-color: lightblue;
    background: url("border.png");
}

a:link {
    color: red;
}
a:hover {
    color: green;
}

p {
	font-family: 'Architects Daughter', cursive;
	color: #0000ff;
	border: 25px solid navy;
	padding: 40px;
	width: 300px;
	margin-bottom:100px;
	margin-top:5px;
}

table, th, td {
    border: 4px solid black;}
table {
    width: 400px;}
td {
    height: 50px;
    vertical-align: bottom;}